# macOS
.DS_Store

# Environment variables
.env
.env.*
!.env.example
frontend/src/.env

# JavaScript
node_modules/
dist/
build/
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/
.vscode/